<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$CONTENT_TITLE">Task List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/foundation.css}"/>
    <link rel="stylesheet" th:href="@{/css/foundation-icons.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <link rel="icon" th:href="@{/image/favicon.ico}" type="image/x-icon"/>
    <script th:src="@{/js/vendor/modernizr.js}"></script>
</head>
<body>
<div th:replace="header :: header" />
<div th:replace="menu :: nav" />
<div class="content-body medium-7 medium-offset-1 columns">
    <div class="content-header medium-4 medium-offset-4 columns">
        Kereső
    </div>
    <div layout:fragment="content" />
</div>
<div th:replace="footer :: footer" />
</body>
</html>