<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <title layout:title-pattern="$CONTENT_TITLE">Task List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link rel="stylesheet" th:href="@{/css/foundation.css}"/>
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <script th:src="@{/js/vendor/modernizr.js}"></script>
</head>
<body>
<div th:replace="header :: header" />
<div layout:fragment="content" />
<div th:replace="footer :: footer" />
</body>
</html>