<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <nav id="nav" class="medium-2 medium-offset-1 columns">
        <ul>
            <li><a href="/">Főoldal</a></li>
            <li><a href="/register">Regisztráció</a></li>
            <li><a href="/registred/newRestaurant">Új étterem hozzáadása</a></li>
            <li><a href="/admin/editRestaruants">Éttermek szerkesztése</a></li>
            <li><a href="/map">Térkép</a></li>
            <li><a href="/admin/users">Felhasználók</a></li>
        </ul>
    </nav>
</body>
</html>