<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8" />
</head>
<body>
    <nav id="nav" class="medium-2 medium-offset-1 columns">
        <ul>
            <li><a href="/">Főoldal</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/login">Bejelentkezés</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/register">Regisztráció</a></li>
            <li><a href="/registred/newRestaurant">Új étterem hozzáadása</a></li>
            <li><a href="/admin/editRestaruants">Éttermek szerkesztése</a></li>
            <li><a href="/map">Térkép</a></li>
            <li><a href="/admin/users">Felhasználók</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/logout">Kijelentkezés</a></li>
        </ul>
    </nav>
</body>
</html>